.bpmAdjuster {
  width: 100%; 
  display: flex;
  justify-content: center;
  
}

.adjuster {
  height: 10px;
  -webkit-appearance: none;
  margin: 10px;
  width: 50%;
  background: transparent;
  border: 1px rgb(201, 201, 201) solid; 
  border-radius: 10px;
}

.adjuster:hover {
  opacity: 1; /* Fully shown on mouse-over */
} 

.adjuster::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: rgb(255, 255, 255); /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50px;
}

.bpmComponent {
  height: 20px;
}