.bpmComponent {
  margin: 5px;
  width: 500px;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bpmAdjuster {
  width: 100%; 
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  outline: none;
  height: 50px;
}

.adjuster {
  margin-right: 15px;
  height: 10px;
  -webkit-appearance: none;
  width: 150px;
  background: transparent;
  border: 1px rgb(201, 201, 201) solid; 
  border-radius: 10px;
  outline: none;
}

.adjuster:hover {
  opacity: 1; /* Fully shown on mouse-over */
} 

.adjuster::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: rgb(255, 255, 255); /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50px;
}


.pauseFunction {
  margin: 15px;
  font-size: 17px;
  width: 100px;
  height: 25px;
  border-radius: 4px;
  color: white;
  background: rgba(201, 201, 201, 0.274);
  outline: none;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bpmDisplay {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  width: 100px;
  color: white;
  font-size: 17px;
  height: 15px;
  opacity: .8;
  cursor: pointer;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bpmContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 250px;
}