.mainBackground {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to bottom right, rgb(28, 229, 243), rgb(30, 142, 235));
	width: 100%;
}

.outsideGrid {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.gridBackground {
	background: none;
	display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: none;
	width: 500px;
	height: 600px;

}

.sampleComponent {
	/* height: 0px; */
	visibility: visible;
	z-index: 100;
}

.mainGrid {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: none;
	width: 500px;
	height: 500px;
}

.ele {
	height: 25px;
	width: 25px;
	color: transparent;
	background: rgb(171, 237, 241);
	opacity: 35%;
	text-align: center;
	margin: 3px;
	border-radius: 3px;
	animation-name: unclick;
  animation-duration: 500ms;
}

@keyframes unclick {
  to {
    background: rgb(171, 237, 241);
  }
}

.clicked {
	height: 25px;
	width: 25px;
	color: transparent;
	background: rgb(242, 251, 252);
	/* opacity: 70%; */
	text-align: center;
	margin: 3px;
	border-radius: 3px;
	animation-name: click;
	animation-duration: 500ms;
	/* box-shadow: 1px 1px 3px white; */
}

@keyframes click {
  from {
    background: rgb(171, 237, 241);
    }
  to {
    background: rgb(242, 251, 252);
  }
}

.row {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: none;
}

.rowLit1 {
	background: white;
	opacity: 70%;
	animation: rowLit1;
	animation-duration: 200ms;
}

.drumLit1 {
	background: white;
	opacity: 70%;
	animation: rowLit1;
	animation-duration: 200ms;
}

@keyframes rowLit1 {
  from {
    opacity: 35%;
  }
  
  to {
    opacity: 70%;
  }
}

.rowLit2 {
	background: white;
	opacity: 55%;
	animation: rowLit2;
	animation-duration: 200ms;
}
.drumLit2 {
	background: white;
	opacity: 55%;
	animation: rowLit2;
	animation-duration: 200ms;
}

@keyframes rowLit2 {
  from {
    opacity: 70%;
  }
  
  to {
    opacity: 55%;
  }
}

.rowLit3 {
	background: white;
	opacity: 45%;
	animation: rowLit3;
	animation-duration: 200ms;
}
.drumLit3 {
	background: white;
	opacity: 45%;
	animation: rowLit3;
	animation-duration: 200ms;
}

@keyframes rowLit3 {
  from {
    opacity: 55%;
  }
  
  to {
    opacity: 45%;
  }
}

.rowLit4 {
	background: white;
	opacity: 40%;
	animation: rowLit4;
	animation-duration: 200ms;
}
.drumLit4 {
	background: white;
	opacity: 40%;
	animation: rowLit4;
	animation-duration: 200ms;
}

@keyframes rowLit4 {
  from {
    opacity: 45%;
  }
  
  to {
    opacity: 40%;
  }
}

.rowLit5 {
	animation: rowLit5;
	animation-duration: 200ms;
	background: white;
	opacity: 35%;
}
.drumLit5 {
	animation: rowLit5;
	animation-duration: 200ms;
	background: white;
	opacity: 35%;
}

@keyframes rowlit5 {
  from {
    opacity: 40%;
  }
  
  to {
    opacity: 35%;
  }
}

/* @keyframes lighting {
  from {
    background: rgb(171, 237, 241);
    }
  to {
    background: rgb(242, 251, 252);
  }
} */

.bright {
	height: 25px;
	width: 25px;
	color: transparent;
	background: rgb(242, 251, 252);
	/* opacity: 70%; */
	text-align: center;
	margin: 3px;
	border-radius: 3px;
	animation: ripple 150ms; 
}

@keyframes ripple {
	from {
		opacity: 1;
		transform: scale3d(0.75,0.75,1);
	}
	
	to {
		opacity: 0;
		transform: scale3d(1.5,1.5,1);
	}
}

.kick {
	height: 25px;
	width: 25px;
	color: transparent;
	background: rgb(242, 251, 252);
	/* opacity: 70%; */
	text-align: center;
	margin: 3px;
	border-radius: 3px;
	animation: kick 300ms; 
}

@keyframes kick {
  from {
    opacity: 1;
    transform: scale3d(0.75,0.75,1);
  }
  
  to {
    opacity: 0;
    transform: scale3d(2,2,1);
  }
}

.drumRack {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: none;
	width: 500px;
	height: 100px;
}