.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(to bottom right, rgb(28, 229, 243), rgb(30, 142, 235));
    z-index: 10;
    opacity: .9;
  }
  
  .modal-child {
    /* -webkit-border-radius: 25px; */
    -moz-border-radius: 25px;
    -moz-border-radius-topleft: 0;
    border-radius: 0px;
    border: 4px solid transparent;
    border-image: linear-gradient(217deg, rgb(0, 251, 255), rgb(255, 255, 255));
    border-image-slice: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22%;
    height: 35%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom right, rgb(62, 186, 238), rgb(26, 104, 199));
    opacity: .9;
    font-size: 20px;
    min-width: 400px;
    min-height: 350px;
    animation: slideDown .5s;
  }
  @keyframes slideDown {
    from { top: 0%;}
    to { top: 50%;}
  }

.loginForm {
  text-align: center;
  padding-top: 22.5%;
  font-family: Helvetica;
  color: white;
  outline: none;
}

.signupForm {
  text-align: center;
  font-family: Helvetica;
  color: white;
  padding-top: 16%;
  outline: none;
}

.loginInputEmail  {
  width: 200px;
  height: 0px;
  padding: 12px;
  margin-bottom: 20px;
  margin-top: 20px;
  outline: none;
}

.loginInputPassword {
  padding: 12px;
  width: 200px;
  height: 0px;
  outline: none;
}

.signupInput{
  width: 200px;
  height: 0px;
  padding: 12px;
  margin-bottom: 5px;
  margin-top: 5px;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #555;
  outline: none;
}

.btn {
  text-decoration: underline;
  box-shadow: inset 0 0px 0 white, inset 0 -1px 0 rgb(63, 61, 61);
  outline: none;
}

.btn:hover {
  cursor: pointer;
  outline: none;
}
.btn:active {
	position:relative;
  top:1px;
  outline: none;
}

.submit-btn-login{
  background: rgb(160, 98, 247);
  width: 30%;
  height: 40px;
  border:none;
  font-size:1em;
  color: white;
  border-radius: 25px;
  margin: 20px;
  outline: none;
}

.submit-btn-signup{
  background: rgb(160, 98, 247);
  width: 35%;
  height: 40px;
  border:none;
  font-size:1em;
  color: white;
  border-radius: 25px;
  margin: 10px;
  outline: none;
}

.submit-btn:hover{
  cursor: pointer;
  outline: none;
}
