.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    z-index: 10;
  }
  
  .modal-child {
    -webkit-border-radius: 25px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 25px;
    -moz-border-radius-topleft: 0;
    border-radius: 25px;
    border-top-left-radius: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom right, rgb(237, 202, 255), rgb(159, 74, 220));
  }

.loginForm {
  text-align: center;
  padding-top: 30%;
  font-family: Helvetica;
  color: white;
}

.loginInputEmail  {
  width: 30px;
  padding: 12px;
  margin-bottom: 20px;
  margin-top: 20px;
  transition-property: width;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  transition-delay: .1s;
}

.inputTransform {
  width: 125px;
}

#inputTransform {
  width: 125px;
}

.loginInputPassword {
  padding: 12px;
  margin-bottom: 20px;
  width: 50px;
  transition-property: width;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  transition-delay: .1s;
}

input[type=text]:focus {
  border: 3px solid #555;
}

.btn {
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
	background-color:#dfbdfa;
	border-radius:6px;
	border:1px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9752cc;
}
.btn:hover {
	background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
	background-color:#bc80ea;
}
.btn:active {
	position:relative;
	top:1px;
}

